{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>andrewleemoo</title>
        <link rel="stylesheet" href="{% static 'css/yo.css' %}">
    </head>
    <body>
        <h1>The website of Andrew Lee</h1>
        <a href="/about/">About Me</a>
        <a href="https://www.pets4homes.co.uk/images/articles/3288/large/pembroke-and-cardigan-welsh-corgi-health-issues-562a281499a2e.jpg">doggo</a>
        <p></p>
        <img src="https://www.pets4homes.co.uk/images/articles/3288/large/pembroke-and-cardigan-welsh-corgi-health-issues-562a281499a2e.jpg">
        <img src="http://i.imgur.com/PDu6jo2.jpg">
    </body>
</html>
